
<div class="container">
<div class="form-group center-align" style="background-color: white">


<div style="font-size:42px">
    <h1 style="text-align:center">LEADERBOARD</h1>
    <ol>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Khushi 300</li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Steph 299</li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Zarah 236</li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Maha 198</li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Jennessa 176</li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Sunny 147</li>
      <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcgRmN8v99GbAMuESP16dA2ejqHneW8VYslb4QA9bNQJEUyfKtg">Muying 123</li>
</ol>
  </div>
</div>
</div>
</div>