
		<div class="container-fluid ">

	<div class="text-center">
		<h1>Welcome, Steph!</h1><h2>Here's where you've explored:</h2>
		<h4>Location: San Francisco</h4><br>
		</div>

		<%= link_to image_tag("instagramFeed.jpg", class:"img-responsive") %>
		<img class="img-responsive" src="/images/instagramFeed.jpg" alt="Instagram Feed">

	<iframe src="https://www.google.com/maps/d/embed?mid=1xzgcBs9jwqW1rxeZOV2x_afYIso" width="640" height="480" class="center-block"></iframe>


</div>
