
		<div class="container-fluid">

		<%= link_to image_tag("instagramFeed.jpg", class:"img-responsive") %>
		<img class="img-responsive" src="/images/instagramFeed.jpg" alt="Instagram Feed">


			    <div class="col-xs-2">
	    	<button type="button">Feed</button>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button">Trending</button>
	    </div> 
	    <div class="col-xs-4">
	    	    	<%= link_to "POST", new_location_path, class: "btn btn-primary" %>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button">Profile</button>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button">Leaderboard</button>
	    </div>
	<iframe src="https://www.google.com/maps/d/embed?mid=1xzgcBs9jwqW1rxeZOV2x_afYIso" width="640" height="480" class="center-block"></iframe>


</div>
