<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	</head>


			<%= link_to image_tag("goldengatetheater.jpg", class:"img-responsive") %>
	    <div class="col-xs-2">
	    	<button type="button">Feed</button>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button">Trending</button>
	    </div> 
	    <div class="col-xs-4">
	    	<%= link_to "POST", new_location_path, class: "fa fa-camera fa-lg" %>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button">Profile</button>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button">Leaderboard</button>
	    </div>

	    <div class="col-xs-2">
	    	<button type="button"><i ></i></button>
	    </div> 
	    <div class="col-xs-2">
	    	<button type="button"></button>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button"><i class="glyphicon glyphicon-knight fa-lg"></i></button>
	    </div>
	    <div class="col-xs-2">
	    	<button type="button"><i class="fa fa-user fa-lg"></i></button>
	    </div>