<div style="background-image:url(http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2015/08/SANFRANCISCO.jpg); width:1692px; height:871px;">

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-xs-12" style="text-align:center">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
<div id="heading">
  <h1>Discover Your City</h1>
</div>
  <form action="/log_in" method="POST">

    <div class="form-group">
        <label>
            Email
            <input type="email" name="email" class="form-control">
        </label>
    </div>
   <br>

    <div class="form-group">
      <label>
          Password
          <input type="password" name="password" class="form-control">
      </label>
    </div>
    <br>


    <div class="btn btn-primary">
    	<%= link_to "LOG IN", landing_path, class:"button" %>
    </div>
</form> 