<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="workshop-box center-block">

				<h2><%= @location.name %></h2>
				<h4>
					<span class="h4-big">Location:<%= @location.address %></span><br class="br-big">
				</h4>
				<h4>
					<span class="h4-big">Tags:<%= @location.tags %></span><br class="br-big">
				</h4>

			<%= image_tag @location.img_url, class: "img-responsive workshop-img" %>
				</div>
			</div>
			</div>